@model PharmacyManagementSystem.Models.Medicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.cat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.name)
        </dd>

    </dl>
</div>
<br>
<div class="btn btn-success">
    @Html.ActionLink("Edit", "Edit", new { id = Model.med_id }, new { style = "color: Black" })
</div>

<div class="btn btn-outline-dark">
    @Html.ActionLink("Back to List", "Index")
</div>
