@model IEnumerable<PharmacyManagementSystem.Models.Report>

@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>

<div class="btn btn-outline-dark">
    @Html.ActionLink("Create New", "Create")
</div>

<br>
<hr />
<table class="table table-bordered table-condensed table-striped table-hover sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.ord_detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchasing.pur_id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ord_detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchasing.pur_id)
            </td>
            <td>
                <div class="btn btn-success">
                    @Html.ActionLink("Edit", "Edit", new { id = item.rep_id }, new { style = "color: Black" })
                </div>
                <div class="btn btn-primary">
                    @Html.ActionLink("Details", "Details", new { id = item.rep_id }, new { style = "color: Black" })
                </div>

                <div class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = item.rep_id }, new { style = "color: Black" })
                </div>
            </td>
        </tr>
    }

</table>
